<p style="text-align: center;">
    <span style="font-family: 'andale mono', monospace; font-size: 24pt;"></span>
  </p>
  
  <p style="text-align: center;">
    <span style="font-family: 'andale mono', monospace; font-size: 24pt;"></span>
  </p>
  
  <p style="text-align: center;">
    <span style="font-family: 'andale mono', monospace; font-size: 24pt;"></span>
  </p>
  
  <p style="text-align: center;"></p>
  
  <p style="text-align: center;">
    <a href="../login">Login</a>
  </p>

  