<p style="text-align: center;">
    <span style="font-family: 'andale mono', monospace; font-size: 24pt;"></span>
  </p>
  
  <p style="text-align: center;">
    <span style="font-family: 'andale mono', monospace; font-size: 24pt;"></span>
  </p>
  
  <p style="text-align: center;">
    <span style="font-family: 'andale mono', monospace; font-size: 24pt;"></span>
  </p>
  
  <p style="text-align: center;">
    <a href="../logout">Logout</a>
  </p>
  
  <p style="text-align: center;">
    <a href="../oggi?citta=Milan">Previsioni di oggi</a>
  </p>

  <p style="text-align: center;">
    <a href="../cinque?citta=Milan">Previsioni meteo 5 giorni</a>
  </p>
  